/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    /* width: 100vw; */
    /* align-items: center; */
}

/* .section {
    padding: 20px;
} */

/* SECTION 1 */

.top-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .hero-container {
    width: 1028px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.hero-header, .logo {
    color: #f9faf8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
}

.hero-header {
    font-size: 48px;
}

a, .hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-subtext {
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 150px;
    gap: 50px;
}

.hero-left {
    /* display: flex;
    flex-direction: column;
    gap:0; */
    /* flex: 1 1 auto; */
}

.hero-img {
    height: 240px;
    width: auto;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 35px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
}

/* Section 2 */

.info-section {
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 52px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 150px;
}

.info {
    max-width: 170px;
    font-weight: 400;
    font-size: 1.1em;
}

.info img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 5px solid #386dbf;
}

.info-container .text {
    color: #3f4854;
}

/* Section 3 */

.quote-section {
    background-color: #e5e7eb;
}

.quote-container {
    max-width: 790px;
    margin: 100px auto;
}

.quote, .author {
    color: #1f2937;
}

.quote {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.author {
    text-align: right;
    padding-right: 30px;
    font-size: 25px;
    font-weight: 700;
}

/* Section 4 */

.cta-container {
    box-sizing: border-box;
    width: 1028px;
    background-color: #3882f6;
    margin: 100px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 52px
}

.cta-container button {
    margin-left: 150px;
    /* margin-right: 30px; */
    border: 2px solid white;
}

.cta-header {
    font-size: 25px;
    font-weight: 500;
}

.cta-body {
    font-size: 18px;
}

/* footer */
footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    font-size: 19px;
    padding: 40px 0;
}
